@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    font-family: 'Roboto', sans-serif;
    --b1:#cffafe;
    --b5: #06b6d4;
    --b7: #0e7490;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--b1);
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
}

.cell{
    background-color: var(--b7);
    border: 5px solid var(--b1);
    border-radius: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}


.cell:hover{
    opacity: 0.8;
}

h1{
    font-size: 4rem;
    text-decoration: underline;
}

.winner{
    position: fixed;
    bottom: 20%;
    width: 100%;
    height: 300px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    gap: 20px;
}


.winner p{
    margin: 0;
    width: 100%;
    padding: 20px;
    font-size:  3rem;
}

.winner button{
    width: 400px;
    padding: 30px;
    font-size:  3rem;
    border: none;
    background-color: var(--b7);
    border-radius: 20px;
}

.winner button:hover{
    background-color: var(--b5);
}